/* HEADER */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* .home-button {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
} */

.nav-bar {
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
}

.nav-list {
    background: #1e4150;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.nav-item {
    color: #f1ece0;
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.nav-item:first-child {
    color: #FFFFFF;
    margin-right: auto;
    margin-left: 2rem;
}

.subheader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 20px;
    color: #1e4150;
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

/* BODY */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: #f1ece0;
    justify-content: center;
    align-items: center;
}

/* TABLE NAV BAR 
.table-nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: flex-end;
    margin-right: 20rem;
    justify-content: center;
    align-items: center;
}

.table-nav-bar:first-child {
    margin-right: auto;
    margin-left: 20rem;
}

SEARCH BAR  
.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

BUTTON BAR 
.button-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.footer {
    background: #1e4150;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* TABLE */

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table td, table.table th {
    border: 1px solid #CCA847;
    padding: 3px 2px;
}

.table tbody td {
    font-size: 13px;
    padding: 0.5rem;
}

.table tr:nth-child(even) {
    background: #DFCE88;
}

.table thead {
    background: #1E4150;
    border-bottom: 2px solid #CCA847;
}

.table thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #CCA847;
    padding: 1rem;
}

.table thead th:first-child {
    border-left: none;
}

.table tfoot td {
    font-size: 14px;
}

.table tfoot .links {
    text-align: right;
}

.table tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
