<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <script src="Form.js" charset="utf-8" defer></script> -->
</head>
<header>
    <div class="header">
        <h1><a href=index.html>DOGE-X</a></h1>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>
    <h2>Dogecoin Wallet Form</h2>
    <form method="post" action="dogecoinWalletsEntity.html">
        
        <label for="dogecoinWalletID">Dogecoin Wallet ID:</label>
        <input type="text" id="dogecoinWalletID" name="dogecoinWalletID" placeholder="Dogecoin Wallet ID" readonly>

        <label for="walletAddress">Wallet Address:</label>
        <input type="text" id="walletAddress" name="walletAddress" placeholder="Wallet Address" readonly>

        <label for="dogecoinBalance">Dogecoin Balance:</label>
        <input type="text" id="dogecoinBalance" name="dogecoinBalance" placeholder="Dogecoin Balance">

        <input type="submit" value="Save & Close" onclick="uploadRecord()">
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>