<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/Entity.js')}}" defer></script>
</head>
<header>
    <div class="header">
        <div class="home-button">
            <h1><a href=index.html>DOGE-X</a></h1>
        </div>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>

    <script>
        
    </script>

    <h2>Dogecoin Wallets</h2>
    <p hidden id="length"></p>
    <script type="text/javascript">
        let length = {{length|tojson}};
        document.getElementById("length").innerHTML = length;
    </script>
    <div class="button-bar">
        <div class="button">
            <button type="button" class="update-button"
            onclick="location.href='dogecoinWalletsForm.html'">Update</button>
        </div>
        <div class="button">
            <button type="button" class="delete-button"
            onclick="deleteConfirmation()">Delete</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>            
                <tr>
                    <th>Select</th>
                    <th>Dogecoin Wallet ID</th>
                    <th>Dogecoin Wallet Address</th>
                    <th>Dogecoin Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for dogecoinwallet in dogecoinWallets %}
                <tr>
                    <td class="checkbox"></td>
                    {% for key in dogecoinwallet.keys() %}
                    <td>{{dogecoinwallet[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>