<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <script src="Form.js" charset="utf-8" defer></script> -->
</head>
<header>
    <div class="header">
        <h1><a href=index.html>DOGE-X</a></h1>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>
    <h2>Exchange Orders Form</h2>
    <form method="post" action="exchangeOrdersEntity.html">

        <label for="exchangeID">Exchange Order ID:</label>
        <input type="text" id="exchangeID" name="exchangeID" placeholder="Exchange Order ID" readonly>

        <label for="fiatWalletID">Fiat Wallet ID:</label>
        <input type="text" id="fiatWalletID" name="fiatWalletID" placeholder="Fiat Wallet ID" readonly>

        <label for="dogecoinWalletID">Dogecoin Wallet ID:</label>
        <input type="text" id="dogecoinWalletID" name="dogecoinWalletID" placeholder="Dogecoin Wallet ID" readonly>

        <label for="orderTimestamp">Order Timestamp:</label>
        <input type="datetime-local" id="orderTimestamp" name="orderTimestamp" placeholder="Order Timestamp" readonly>

        <label for="orderType">Order Type:</label>
        <input type="text" id="orderType" name="orderType" placeholder="Order Type">

        <label for="orderDirection">Order Direction:</label>
        <input type="text" id="orderDirection" name="orderDirection" placeholder="Order Direction">

        <label for="amountFilled">Amount Filled:</label>
        <input type="text" id="amountFilled" name="amountFilled" placeholder="Amount Filled">

        <label for="orderPrice">Order Price:</label>
        <input type="text" id="orderPrice" name="orderPrice" placeholder="Order Price">
        
        <input type="submit" value="Save & Close" onclick="uploadRecord()">
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>