<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="Entity.js" charset="utf-8" defer></script>
</head>
<header>
    <div class="header">
        <div class="home-button">
            <h1><a href=index.html>DOGE-X</a></h1>
        </div>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>
    <h2>Fiat Wallets</h2>
    <div class="button-bar">
        <div class="button">
            <button type="button" class="update-button"
            onclick="location.href='fiatWalletsForm.html'">Update</button>
        </div>
        <div class="button">
            <button type="button" class="delete-button"
            onclick="deleteConfirmation()">Delete</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>            
                <tr>
                    <th>Select</th>
                    <th>Fiat Wallet ID</th>
                    <th>Fiat Wallet Name</th>
                    <th>Fiat Balance ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for fiatwallet in fiatwallets %}
                <tr>
                    <td><input type="checkbox" name="select" id="row_selection"></td>
                    {% for key in fiatwallet.keys() %}
                    <td>{{fiatwallet[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>