<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DOGE-X</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css')}}">
    </head>
    <div class="nav-bar-container">
        <div class="nav-home-button">
            <a href="index.html">DOGE-X</a>
        </div>
        <div class="nav-bar">
            <div class="nav-item">
                <a href="./entities/userAccountsEntity.html">User Accounts</a>
            </div>
            <div class="nav-item">
                <a href="./entities/fiatWalletsEntity.html">Fiat Wallets</a>
            </div>
            <div class="nav-item">
                <a href="./entities/dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            </div>
            <div class="nav-item">
                <a href="./entities/dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            </div>
            <div class="nav-item">
                <a href="./entities/exchangeOrdersEntity.html">Exchange Orders</a>
            </div>
        </div>
    </div>
    <body>
        <p>
            Home page is currently under construction. Select an item in the
            navigation bar to view the corresponding database entity.
        </p>
    </body>
    <footer>
        <div class="footer-text">
            <p>
                &copy; Copyright 2022 | Group 50 - Mark Jordan and Kenneth Kang
                | All Rights Reserved.
            </p>
        </div>
    </footer>
</html>
