<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="Entity.js" charset="utf-8" defer></script>
</head>
<header>
    <div class="header">
        <div class="home-button">
            <h1><a href=index.html>DOGE-X</a></h1>
        </div>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>
    <h2>User Accounts</h2>
    <div class="search-bar">
        <div class="search-field" onkeypress="return didPressReturn(event)">
            <input type="text" placeholder="User Name" name="search">
        </div>
        <div class="search-button">
            <button type="submit" value ="Search">Search</button>
        </div>
    </div>
    <div class="button-bar">
        <div class="button">
            <button type="button" class="create-button"
            onclick="location.href='userAccountsForm.html'">Create</button>
        </div>
        <div class="button">
            <button type="button" class="update-button"
            onclick="location.href='userAccountsForm.html'">Update</button>
        </div>
        <div class="button">
            <button type="button" class="delete-button">Delete</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>            
                <tr>
                    <th>Select</th>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Fiat Wallet ID</th>
                    <th>Dogecoin Wallet ID</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in users %}
                <tr>
                    <td><input type="checkbox" name="select" value="1"></td> <!-- We need to work around with the value part -->
                    {% for key in profile.keys() %}
                    <td>{{profile[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>