<!DOCTYPE html> 

<html lang="en">
<head>
    <title>DOGE-X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="Entity.js" charset="utf-8" defer></script>
</head>
<header>
    <div class="header">
        <div class="home-button">
            <h1><a href=index.html>DOGE-X</a></h1>
        </div>
        <div class="navbar">
            <a href="userAccountsEntity.html">User Accounts</a>
            <a href="fiatWalletsEntity.html">Fiat Wallets</a>
            <a href="dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            <a href="dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            <a href="exchangeOrdersEntity.html">Exchange Orders</a>
        </div>
    </div>
</header>
<body>
    <h2>User Accounts</h2>
    <div class="search-bar">
        <div class="search-field" onkeypress="return didPressReturn(event)">
            <input type="text" placeholder="User Name" name="search">
        </div>
        <div class="search-button">
            <button type="button" onclick="search()">Search</button>
        </div>
    </div>
    <div class="button-bar">
        <div class="button">
            <button type="button" class="create-button"
            onclick="location.href='userAccountsForm.html'">Create</button>
        </div>
        <div class="button">
            <button type="button" class="update-button"
            onclick="location.href='userAccountsForm.html'">Update</button>
        </div>
        <div class="button">
            <button type="button" class="delete-button">Delete</button>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>            
                <tr>
                    <th>Select</th>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Fiat Wallet ID</th>
                    <th>Dogecoin Wallet ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="select" value="1"></td>
                    <td>U1</td>
                    <td>Kenneth</td>
                    <td>Kang</td>
                    <td>123 SW 201 St</td>
                    <td>Portland</td>
                    <td>OR</td>
                    <td>97005</td>
                    <td>8398741723</td>
                    <td>kkang@gmail.com</td>
                    <td>12345a</td>
                    <td>F12348904</td>
                    <td>D12345789</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="select" value="2"></td>
                    <td>U2</td>
                    <td>Mark</td>
                    <td>Jordan</td>
                    <td>1800 Lacassie Ave</td>
                    <td>Walnut Creek</td>
                    <td>CA</td>
                    <td>94596</td>
                    <td>4151234567</td>
                    <td>jjord@hotmail.com</td>
                    <td>6789uu</td>
                    <td>F19032485</td>
                    <td>D98247833</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="select" value="3"></td>
                    <td>U3</td>
                    <td>Soo</td>
                    <td>Kim</td>
                    <td>14 41nd St</th>
                    <td>New York</td>
                    <td>NY</td>
                    <td>10018</td>
                    <td>2125459457</td>
                    <td>skim@outlook.com</td>
                    <td>89o4aa0</td>
                    <td>F39002134</td>
                    <td>D42005384</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footer">
        <p>
            &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
        </p>
    </div>
</footer>
</html>