<html>

<head>
	<title>Edit People</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing User: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in bsg_people-->
            <form id="editPerson" action="/edit_people/{{data[0].id}}" method="post">
                <legend><strong>Edit Person</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].id}}" class="form-control" id="personID" name="personID" required>
                    <label for="make">first name:</label>

                    <input type="text" value="{{data[0].fname}}" class="form-control" id="fname" name="fname" pattern="[A-Za-z]{1,}" required>
                    <label for="model">last name:</label>

                    <input type="text" value="{{data[0].lname}}" class="form-control" id="lname" name="lname" pattern="[A-Za-z0-9]{1,}" required>
                    <label for="year">homeworld:</label>


                    <select class="form-control" id="homeworld" name="homeworld" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our homeworld tuple passed from app.py-->
                        <option value="0">&nbsp;</option>
                        {% for homeworld in homeworlds %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if homeworld['id'] == data[0].homeworld %}
                                    <option value="{{ homeworld['id'] }}" selected> {{homeworld['name']}}</option>
                                {% else %}
                                    <option value="{{ homeworld['id'] }}"> {{homeworld['name']}}</option> 
                                {% endif %}


                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select>	
                        
                    <label for="color">age:</label>
                    <input type="text" value="{{data[0].age}}" class="form-control" id="age" name="age" pattern="[A-Za-z0-9]{1,}"> 
                
                </fieldset>
                <input type="submit" value="Edit Person" name="Edit_Person" class="btn btn-primary" style="margin:.5rem;">
                <a href='/people'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
