<!DOCTYPE html> 

<html lang="en">
    <head>
        <title>DOGE-X</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/Form.js')}}" defer></script>
    </head>
    <div class="nav-bar-container">
        <div class="nav-home-button">
            <a href="../../../index.html">DOGE-X</a>
        </div>
        <div class="nav-bar">
            <div class="nav-item">
                <a href="../../entities/userAccountsEntity.html">User Accounts</a>
            </div>
            <div class="nav-item">
                <a href="../../entities/fiatWalletsEntity.html">Fiat Wallets</a>
            </div>
            <div class="nav-item">
                <a href="../../entities/dogecoinWalletsEntity.html">Dogecoin Wallets</a>
            </div>
            <div class="nav-item">
                <a href="../../entities/dogecoinTransactionsEntity.html">Dogecoin Transactions</a>
            </div>
            <div class="nav-item">
                <a href="../../entities/exchangeOrdersEntity.html">Exchange Orders</a>
            </div>
        </div>
    </div>
    <body>
        <p hidden id="query">{{user|tojson}}</p>
        <h2>User Account Record Form</h2>
        <form method="post" action="userAccountsEntity.html"> 
            <label for="userID">User ID:</label>
            <input type="text" id="userID" name="userID" placeholder="User ID">
    
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="First Name">
    
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name">
    
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" placeholder="Address">
    
            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="City">
    
            <label for="state">State:</label>
            <input type="text" id="state" name="state" placeholder="State">
    
            <label for="zipCode">Zip Code:</label>
            <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code">
    
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
    
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email">
    
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="Password">
    
            <label for="fiatWalletID">Fiat Wallet ID:</label>
            <input type="text" id="fiatWalletID" name="fiatWalletID" placeholder="Fiat Wallet ID">
    
            <label for="dogecoinWalletID">Dogecoin Wallet ID:</label>
            <input type="text" id="dogecoinWalletID" name="dogecoinWalletID" placeholder="Dogecoin Wallet ID">
    
            <input type="submit" value="Save & Close" onclick="uploadRecord()">
        </form>
    </body>
    <footer>
        <div class="footer">
            <p>
                &copy; Copyright 2022 Mark Jordan and Kenneth Kang. All Rights Reserved.
            </p>
        </div>
    </footer>
</html>